.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 350px;
}

.key {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.word {
  letter-spacing: 10px;
}

.disabled {
  color: red;
}
