.main {
  background-color: black;
  color: white;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 350px;
}

.key {
  width: 30px;
  height: 30px;
  margin: 10px;
}

.word {
  letter-spacing: 10px;
}

.disabled {
  color: red;
}

.gallows {
  font-size: 100px;
}

.hangman {
  position: absolute;
  display: none;
}

.hangman:nth-of-type(1) {
  top: 410px;
    left: 410px;
}

.hangman:nth-of-type(2) {
  left: 450px;
    top: 500px;
}

.hangman:nth-of-type(3) {
  top: 500px;
    left: 410px;
}

.hangman:nth-of-type(4) {
  top: 500px;
    left: 485px;
}

.hangman:nth-of-type(5) {
  top: 600px;
    left: 420px;
}

.hangman:nth-of-type(6) {
  top: 600px;
    left: 470px;
}

.modal {
  background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
}

.visible {
  display: block;
}

